/* Общие стили для body */
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Стили для канваса */
  canvas {
    border: 1px solid black;
    max-width: 100%;
    height: auto;
  }
  
  /* Стили для меню */
  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  
  #menu button {
    margin: 10px;
    padding: 15px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
  #menu button:hover {
    background-color: #45a049;
  }
  
  /* Стили для элементов управления (кнопки для мобильных) */
  #controls {
    position: fixed;
    bottom: 20px;
    z-index: 10;
    display: none; /* Скрываем по умолчанию */
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }
  
  .movement-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    pointer-events: auto;
  }
  
  .action-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    pointer-events: auto;
  }
  
  #controls button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
  }
  
  #controls button:active {
    background-color: #bbb;
  }
  
  /* Показать кнопки управления только на мобильных устройствах */
  @media (max-width: 1024px) {
    #controls {
      display: flex;
    }
  }
  